wikipedia/src/main/resources/
wikipedia/target/
wikipedia/project/target/
wikipedia/.idea/
wikipedia/project/project/target

stackoverflow/src/main/resources/
stackoverflow/target/
stackoverflow/project/target/
stackoverflow/.idea/
stackoverflow/project/project/target

timeusage/src/main/resources/
timeusage/target/
timeusage/project/target/
timeusage/.idea/
timeusage/project/project/target
